<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../css/app.css" />
  
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/json3/lib/json3.js"></script>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../../bower_components/angular-paging/dist/paging.js"></script>
  <script src="../../js/app.module.js"></script>
  <script src="../../js/location-all-controller.js"></script>
</head>
<body ng-app="interview">
<div class="container" ng-controller="LocationAllController">
  <div class="row">
    <form class="form-inline">
      <div class="form-group">
        <label for="area">Area</label>
        <select class="form-control" id="area" 
                ng-options="item as item.name for item in vm.areas track by item.id" 
                ng-model="vm.selectedArea">
        </select>
      </div>
      <button type="button" id="btn_search" class="btn btn-default" 
              ng-click="vm.search()" ng-disable="vm.isSearching">
        <i class="fa fa-spinner fa-spin" id="fa_spinner" ng-show="vm.isSearching"></i>
        <span class="pl-1" id="txt_search">{{vm.isSearching ? "In Progess":"Search"}}</span>
      </button>
    </form>
  </div>
  <h4>Areas</h4>
  <div class="row" id="areas">
    {{vm.locations}}
  </div>
</div>
</body>
</html>