<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="../../bower_components/ng-table/dist/ng-table.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../css/app.css" />

  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/json3/lib/json3.js"></script>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../../bower_components/ng-table/dist/ng-table.js"></script>
  <script src="../../js/app.module.js"></script>
  <script src="../../js/location-detail-controller.js"></script>
</head>
<body ng-app="interview">
<div class="container" ng-controller="LocationDetailController">
  <div class="row">
    <form class="pull-right">
        <label>Search:</label>
        <input type="search" ng-model="vm.searchPattern"/>
    </form>
  </div>
  <div class="row">
   <table ng-table="vm.tableParams" show-filter="false" class="table table-bordered table-striped">
      <tr ng-repeat="row in $data track by row.userId"
          ng-show="!vm.searchPattern || (row.userName + row.location.name + row.countChat + row.latestChat.title).indexOf(vm.searchPattern) != -1">
        <td title="'User Name'" sortable="'userName'" filter="{userName: 'text'}">{{row.userName}}</td>
        <td title="'Location'" sortable="'location'" filter="{locationName: 'text'}">{{row.location.name}}</td>
        <td title="'Total Chat'" sortable="'countChat'" filter="{countChat: 'text'}">{{row.countChat}}</td>
        <td title="'Latest Chat Title'" sortable="'latestChat'" filter="{latestChat: 'text'}">{{row.latestChat.title}}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>